*{
    padding: 0px;
    margin: 0px;
} 

@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');

body{
    scroll-behavior: smooth;

}
header{
    background-image: url("/asset/images/backgrounds/h_img.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-size: 30px;
    font-family: 'Trade Winds', ;
    
    

}
#wel{
    font-size: 80px;
}
#del{
    font-size:40px ;
}

#main{
    text-align: center;
    position: relative;
    padding-top: 20%;
    
    
}
#about{
    text-align: center;
}
#mouse{
    padding: 40px;
}
#services{
    background-image: url("/asset/images/backgrounds/s_image.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    height: 80vh;
    
    text-align: center;
    color: white;
    padding:160px;
}
#port{
    text-align: center;
}
.port{
    padding-bottom: 17px;
    text-align: center;
    width: 100%;
}
.form{
    background-image: url("/asset/images/backgrounds/s_image.jpg");
    background-position: center;
    height: 60vh;
    text-align: center;
    
}
#inp1{
    background: none;
    width: 29%;
    border: 1px solid white;
    text-decoration: #fff;
}
#inp2{
    background: none;
    width:29%;
    border:1px solid white;
    text-decoration: #fff;
    
}
#msg{
    background:none ;
    border:1px solid white;
    width: 600px;
    height:160px;
    
    
}
#btn{
    
        width: 250px;
        background: skyblue;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 5px;
        margin: 0 auto;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    
}
#footer{
    display: flex;
    justify-content: center;
    text-align: center;
    padding:20px;
    
    
}
#del{
     text-align: center;
     padding: 20px;
}
h2{
    text-align: center;
    padding-top: 50px;
}

#overlay1,#overlay2,#overlay3,#overlay4,#overlay5,#overlay6,#overlay7,#overlay8{
    display:none;
    color:skyblue;
    width:100%;
    height: 100%x;
    border:3px solid white;
    background-color:none;
    position:absolute;
    top: 90px;
    left: 3px;
    opacity: inherit;
    right: 35px;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 2px;
    font-family: 'Trade Winds', ;
  }
  .text{
   text-align: center;
  }
  

  

