*{
    padding: 0px;
    margin: 0px;
}

header{
    background-image: url("https://bit.ly/2V9fplO");
    height: 100vh;
    background-size: cover;
    background-position: center;

}

#main{
    text-align: center;
    position: relative;
    padding-top: 20%;
    
    
}
#about{
    text-align: center;
}
#mouse{
    padding: 80px;
}
#services{
    background-image: url("/asset/images/backgrounds/s_image.jpg");
    background-position: cover;
    background-repeat: no-repeat;
    height: 80vh;
    
    text-align: center;
    color: white;
    padding:80px;
}
#port{
    text-align: center;
}
.port{
    padding-bottom: 17px;
}
.form{
    background-image: url("https://bit.ly/38Sw5Ci");
    background-position: center;
    height: 60vh;
    text-align: center;
    
}
#inp1{
    background: none;
    width: 24%;
    border: 1px solid white;
}
#inp2{
    background: none;
    width:39%;
    border:1px solid white;
    
}
#msg{
    background:none ;
    border:1px solid white;
    width: 600px;
    height:160px;
    
    
}
#btn{
    
        width: 250px;
        background: skyblue;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 5px;
        margin: 0 auto;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
    
}

  

